/**
 * filename: style.css
 * coding: utf-8
 * description: 排版样式表
 */


/* 开头部分的 box */
.div-head {
    padding: 0px 10px;
    line-height: 2;
    font-size: 14px;
    text-align: justify;
    color: #3E3E3E;
}

/* 正文部分的 box */
.div-body {
    padding: 0px 10px;
    line-height: 2;
    font-size: 15px;
    text-align: justify;
    color: #3E3E3E;
}

/* 记者信息的 box */
.div-reporter {

}

/* 编者按的 box */
.div-editornote {
    padding: 0px 10px;
    line-height: 2;
    font-size: 15px;
    text-align: justify;
    color: #3E3E3E;
}

/* 记者手记的 box */
.div-reporternote {
    padding: 0px 10px;
    line-height: 2;
    font-size: 15px;
    text-align: justify;
    color: #3E3E3E;
}

/* 文末部分的 box */
.div-ending {
    padding: 0px 10px;
    line-height: 2;
    font-size: 14px;
    text-align: justify;
    color: #3E3E3E;
}

/* 字数统计框的 box */
.div-count {
    border-left: 5px solid #A5A5A5;
}

/* 参考文献框的 box */
.div-reference {
    border-left: 3px solid #A5A5A5;
}

/* 水印框的 box （最外层的 section 会被公号去掉 style ，所以这里做一层皮） */
.div-wrap {

}

/* 正文段落 */
.p-normal {
    text-align: justify;
    letter-spacing: 0px;
}

/* 右对齐的引用段落 */
.p-right-note {
    text-align: right;
    letter-spacing: 0px;
}

/* 图注段落 */
.p-image-note {
    text-align: justify;
    font-size: 12px;
    color: #A5A5A5;
    letter-spacing: 0px;
}

/* 尾注（微信编辑之类信息）段落 */
.p-end-note {
    text-align: right;
    font-size: 12px;
    color: #A5A5A5;
    letter-spacing: 0px;
}

/* 字数统计框的文字段落 */
.p-count {
    padding: 0px 10px;
    letter-spacing: 0px;
}

/* 记者信息的段落 */
.p-reporter {
    text-align: justify;
    color: #A5A5A5;
    letter-spacing: 0px;
}

/* 参考文献的段落 */
.p-reference {
    text-align: justify;
    padding: 0px 10px;
    font-size: 12px;
    color: #A5A5A5;
    letter-spacing: 0px;
}

/* 空行段落 */
.p-br {
    text-align: justify;
    font-size: 15px;
}

/* 分割线段落 */
.p-hr {
    line-height: 2;
    padding-bottom: 10px;
}

/* 大标题段落 */
.p-h1 {
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
}

/* 图片段落 */
.p-img {
    width: 100%;
}

/* 15号加粗红字 */
.span-red-15 {
    font-size: 15px;
    font-weight: bold;
    color: #993A3A;
    margin-bottom: 10px;
}

/* 16号加粗红字 */
.span-red-16 {
    font-size: 16px;
    font-weight: bold;
    color: #993A3A;
}

/* 图注前的红三角 */
.span-note-syb {
    display: inline-block;
    vertical-align: center;
    color: #993A3A;
    margin-right: 10px;
}

/* 分割线 */
.hr {
    background-color: #A5A5A5;
    height: 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* 图片 */
.img {
    max-width: 1024px;
}